{% extends "main/base.html" %}
{% load static %}
{% block title %}Список вопросов{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Заголовок статьи</h2>
        <a class="btn btn-secondary" href="#">
        <div class="media mb-4">
            <img src="{% static 'main/img/Iam.jpg' %}" class="mr-3" alt="Аватар" width="64" height="64">
            <div class="media-body">
                <h5 class="mt-0">Имя пользователя</h5>
                <p>Текст статьи или поста. Здесь может быть много информации о чем-то интересном.</p>
                <div class="d-flex justify-content-between mt-2">
                    <button class="btn btn-primary">👍 Лайк</button>
                    <div>
                        <span class="badge badge-secondary">Тэги: #тег1, #тег2</span>
                        <span class="badge badge-info">Ответов: 5</span>
                    </div>
                </div>
            </div>
        </div>
        </a>

        <!-- Другие статьи -->
        <a class="btn btn-secondary" href="#">
        <div class="media mb-4">
            <img src="{% static 'main/img/Iam.jpg' %}" class="mr-3" alt="Аватар" width="64" height="64">
            <div class="media-body">
                <h5 class="mt-0">Имя пользователя</h5>
                <p>Другой текст статьи или поста. Здесь может быть много информации о чем-то интересном.</p>
                <div class="d-flex justify-content-between mt-2">
                    <button class="btn btn-primary">👍 Лайк</button>
                    <div>
                        <span class="badge badge-secondary">Тэги: #тег1, #тег2</span>
                        <span class="badge badge-info">Ответов: 3</span>
                    </div>
                </div>
            </div>
        </div>
        </a>

        <!-- Пагинатор -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
