<div class="mt-4">
        {% if paginator.num_pages > 1 %}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if page.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Предыдущая</a></li>
                    {% endif %}

                    {% for num in paginator.page_range %}
                        <li class="page-item {% if page.number == num %}active{% endif %}"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endfor %}

                    {% if page.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Следующая</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>