{% extends "main/base.html" %}
{% load static %}
{% block title %}Вопрос - {{ num }}{% endblock %}

{% block content %}
 <div id="answer-{{ answer.id }}" class="container" style="max-width: 500">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow-sm border-light">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">Вопрос {{ num }}</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ ask }}</p>
                    <form method="post">
  {% csrf_token %}
  <div class="mb-3">
    {{form.as_p}}
    {% if form.title.errors %}
      <div class="alert alert-danger">
        {% for error in form.title.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="mb-3">
    {{ form.text.label_tag }}
    {{ form.text }}
    {% if form.text.errors %}
      <div class="alert alert-danger">
        {% for error in form.text.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="mb-3">
    {{ form.tags.label_tag }}
    {{ form.tags }}
    {% if form.tags.errors %}
      <div class="alert alert-danger">
        {% for error in form.tags.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>


  <button type="submit" class="btn btn-primary">Задать</button>
</form>



                    <h3 class="mt-4">Ответы:</h3>

                    {% for ans in answers %}
                        <div class="media mb-4 border p-3 rounded">
                            <div class="media-body">
                                <h5 class="mt-0">{{ ans.author }}</h5>
                                <p>{{ ans.ans_data }}</p>
                                <div class="answer-like-section d-flex justify-content-center align-items-center gap-1">
              <div
                  class="border rounded px-2 py-1 d-flex justify-content-center align-items-center"
                  style="min-width: 1.5rem; height: 1.8rem; font-size: 0.875rem;"
              >
              </div>

              <button
                  id="upButton"
                  class="btn btn-success btn-sm"
                  data-id="{{ answer.id }}"
              >&#128077;</button>
          </div>
                                <div class="question-check-section container mt-3 gap-1">
                <button class="btn btn-checkbox">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="checkButton"
                    data-id="{{answer.id}}"
                    {% if answer.is_correct %}checked{% endif %}
                    {% if not is_author %}disabled{% endif %}
                  />
                  <label class="form-check-label" for="checkButton">Correct!</label>
                </button>
              </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>Нет ответов на этот вопрос.</p>
                    {% endfor %}
                    <div id="new_answer"></div> {## Якорь для прокрутки ##}
                    {% include 'main/paginate.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
