{% extends "main/base.html" %}
{% load static %}
{% block title %}Вопрос - {{ num }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card shadow-sm border-light">
                <div class="card-header bg-primary text-white">
                    <h2 class="card-title">Вопрос {{ num }}</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ ask }}</p>
                    <form method="post">
  {% csrf_token %}
  <div class="mb-3">
    {{form.as_p}}
    {% if form.title.errors %}
      <div class="alert alert-danger">
        {% for error in form.title.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="mb-3">
    {{ form.text.label_tag }}
    {{ form.text }}
    {% if form.text.errors %}
      <div class="alert alert-danger">
        {% for error in form.text.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="mb-3">
    {{ form.tags.label_tag }}
    {{ form.tags }}
    {% if form.tags.errors %}
      <div class="alert alert-danger">
        {% for error in form.tags.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
  </div>


  <button type="submit" class="btn btn-primary">Задать</button>
</form>



                    <h3 class="mt-4">Ответы:</h3>

                    {% for ans in answers %}
                        <div class="media mb-4 border p-3 rounded">
                            <img src="{% static 'main/img/Iam.jpg' %}" class="mr-3 rounded-circle" alt="Аватар" width="64" height="64">
                            <div class="media-body">
                                <h5 class="mt-0">{{ ans.author }}</h5>
                                <p>{{ ans.ans_data }}</p>
                            </div>
                        </div>
                    {% empty %}
                        <p>Нет ответов на этот вопрос.</p>
                    {% endfor %}
                    <div id="new_answer"></div> {## Якорь для прокрутки ##}
                    {% include 'main/paginate.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
