{% extends 'main/base.html' %}
{% load static %}
{% block content %}
  <h1>{% block title1 %}Список вопросов{% endblock %}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
        <p style="color: red;">{{ form.errors }}</p>
    {% endif %}
    <button type="submit">Задать</button>
</form>
    {% for question in questions %}
        <a class="btn btn-secondary mb-4" href="{% url 'question' num=forloop.counter0|add:page.start_index %}">
        <div class="media mb-4">
            <div class="media-body">
                <h5 class="mt-0">{{question.author}}</h5>
                <p>{{question.quest_data}}</p>
                <div class="question-like-section d-flex justify-content-center align-items-center gap-1">
                <div
                    class="border rounded px-2 py-1 d-flex justify-content-center align-items-center"
                    style="min-width: 1.5rem; height: 1.8rem; font-size: 0.875rem;"
                >
                </div>

                <button
                    id="upButton"
                    class="btn btn-success btn-sm"
                    data-id="{{ question.id }}"
                >&#128077;</button>
            </div>
                        <span class="badge badge-secondary">Тэги:{% for tag in question.tags %} #тег{{tag.name}} {% endfor %}</span>
                        <span class="badge badge-info">Ответов: {{question.nums_of_answers}}</span>
                    </div>
                </div>
            </div>
        </div>
        </a>
    {% endfor %}

    {% include 'main/paginate.html' %}
{% endblock %}
